body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #f0f0f0, #9d9c9c);
}

.container {
  border: 2px solid #9d9c9c;
  background: linear-gradient(to bottom, #fff, #cac7c7);
  width: 70%;
  margin: 5rem;
  padding: 1rem;
  height: 75vh;
}

h1 {
  font-size: 2.5rem;
  margin-left: 5rem;
}

h2 {
  font-size: 2rem;
}

.container2 {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem;
  max-width: 402vh;
}

.recentDiv {
  width: 60%;
}

.recent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 2rem;
}

.refreshBtn {
  border: 2px solid black;
  box-shadow: 2px 1px 1px black;
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  margin-left: 11.5rem;
}

.recentScore {
  /* padding-left: -6rem; */
}

#scoreDiv {
  max-height: 42vh;
  overflow: auto;
}

.listItem {
  list-style: none;
  font-size: 1.1rem;
  border: 1px solid grey;
  padding: 0.3rem;
}

.score {
  width: 30%;
}

#nameInput,
#scoreInput {
  width: 15rem;
  height: 1.5rem;
  padding: 0.2rem;
  font-size: 1rem;
  border: 1px solid black;
  margin-top: 1rem;
}

.submitBtnContainer {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.submitBtn {
  border: 2px solid black;
  box-shadow: 2px 1px 1px black;
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
}
