body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #f0f0f0, #9d9c9c);
}

.container {
  border: 2px solid #9d9c9c;
  background: linear-gradient(to bottom, #fff, #cac7c7);
  box-shadow: 1px 1px 40px #2a2929;
  width: 85%;
  margin: 5%;
  padding: 1rem;
  height: 78vh;
}

h1 {
  font-size: 2rem;
  margin: 3rem;
  margin-left: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 1.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container2 {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  padding: 2rem;
  height: 50vh;
}

.recent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recentDiv {
  width: 58%;
}

ul {
  padding: 0;
  max-height: 40vh;
  overflow: auto;
  box-shadow: 1px 1px 10px #515050;
}

.listItem {
  list-style: none;
  font-size: 1.1rem;
  border: 1px solid grey;
  padding: 0.3rem;
}

.score {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 50vh;
  margin-left: 3rem;
}

.addscore-heading-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 45%;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.submitBtnContainer {
  display: flex;
  align-self: flex-end;
}

button {
  border: 2px solid rgb(47, 47, 47);
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  color: #2a2929;
  border-radius: 10%;
}

button:hover {
  box-shadow: 2px 1px 1px rgb(47, 47, 47);
}

button:active {
  background: #1d1d1d;
  color: rgb(205, 205, 205);
}

#nameInput,
#scoreInput {
  width: 22vw;
  height: 1.5rem;
  padding: 0.2rem;
  font-size: 1rem;
  border: 1px solid black;
  font-style: italic;
  margin-top: 1rem;
}
